[submodule "third_party/dircolors-solarized"]
	path = third_party/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "third_party/nerd-fonts"]
	path = third_party/nerd-fonts
	url = git@github.com:ryanoasis/nerd-fonts.git
[submodule "third_party/zsh-syntax-highlighting"]
	path = third_party/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "third_party/bullet-train-oh-my-zsh-theme"]
	path = third_party/bullet-train-oh-my-zsh-theme
	url = git@github.com:caiogondim/bullet-train-oh-my-zsh-theme.git
[submodule "third_party/SwitchyOmega"]
	path = third_party/SwitchyOmega
	url = git@github.com:FelisCatus/SwitchyOmega.git
[submodule "third_party/zsh-autosuggestions"]
	path = third_party/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "third_party/autojump"]
	path = third_party/autojump
	url = https://github.com/wting/autojump.git
