[submodule "third_party/zsh-autosuggestions"]
	path = third_party/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "third_party/autojump"]
	path = third_party/autojump
	url = https://github.com/wting/autojump.git
[submodule "third_party/dircolors-solarized"]
	path = third_party/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "third_party/zsh-syntax-highlighting"]
	path = third_party/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "third_party/bullet-train-oh-my-zsh-theme"]
	path = third_party/bullet-train-oh-my-zsh-theme
	url = https://github.com/caiogondim/bullet-train-oh-my-zsh-theme.git
